$bluecolor: #392683;
$magentacolor: #DC037F;
$cyancolor: #0C83CD;

@mixin header {
    color: #fff;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 25px 10px 25px;
    background-color: $bluecolor;
}
